.main {
  width: 100%;
  height: 100%;
  padding-top: 15%;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 50px;
  cursor: pointer;

  background: linear-gradient(to right, #ff0000, #00ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    // color: $primary-color;
  }
}

.mangas {
  display: flex;
  margin-top: 20px;
}




@media (min-width: 769px) {
  .mangas {
    height: calc(100% - 120px);
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cover {
    margin-bottom: 10px;
    margin-right: 10px;
    height: fit-content;
    cursor: pointer;

    &__img  {
      width: auto;
      max-width: 300px;
      height: 300px;
      border-radius: 8px;
      transition: padding 0.3s, border 0.3s, border-radius 0.3s ease-in-out; /* 添加过渡效果 */

      &:hover  {
        padding: 8px;
        border: 1px solid $primary-color;
        border-radius: 4px;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      color: $primary-color;
    }

  }
}


/* 移动设备样式 */
@media (max-width: 768px) {
  .main {


    
  }

  .mangas {
    flex-direction: column;
    height: calc(85% - 50px);
    overflow: auto;

  }

  .cover {

    &__img  {
      min-height: 200px;
      width: 80%;
      border-radius: 8px;
    }


    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}


.add {

  width: 200px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 8px;
  border: 2px dashed $primary-color;


  &__icon {
    color: $primary-color;
  }

  &:hover  {
    border: 1px solid $primary-color;
  }

}




