.main  {
  width: 400px;
  height: 100%;
  padding: 20px;
  border-left: 1px solid $primary-color;
  background-color: $dark-bg;
  color: white;

}

.text-field {
  width: 100%;
  margin-bottom: 20px;

}


.upload {
  margin-top: 20px;

}

.preview  {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  margin-top: 20px;

}

.save {

  margin-top: 20px;
}